@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  font-family: 'Bebas Neue', cursive;;
}
.nav-links{
  width: 20%;
  justify-content: center;
  font-size: 1.5em;
}



